<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f0ba703f-86ef-46e6-a20f-7aa61ae90966/resourcegroups/CollatzConjecture-Group720220120153229ResourceGroup/providers/Microsoft.Web/sites/CollatzConjecture-Group7</ResourceId>
    <ResourceGroup>CollatzConjecture-Group720220120153229ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://collatzconjecture-group7.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e83906bc-590a-41ec-8096-ccfb0dd0b971</ProjectGuid>
    <PublishUrl>https://collatzconjecture-group7.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CollatzConjecture-Group7</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>